<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>区域</key>
	<dict>
		<key>KeyList</key>
		<array>
			<string>不限</string>
			<string>浦东新区</string>
			<string>闵行区</string>
			<string>徐汇区</string>
			<string>普陀区</string>
			<string>宝山区</string>
			<string>长宁区</string>
			<string>杨浦区</string>
			<string>松江区</string>
			<string>虹口区</string>
			<string>嘉定区</string>
			<string>黄浦区</string>
			<string>静安区</string>
			<string>青浦区</string>
		</array>
		<key>不限</key>
		<array/>
		<key>浦东新区</key>
		<array>
			<string>不限</string>
			<string>北蔡</string>
			<string>碧云</string>
			<string>曹路</string>
			<string>川沙</string>
			<string>大团镇</string>
			<string>高东</string>
			<string>高行</string>
			<string>航头</string>
			<string>合庆</string>
			<string>花木</string>
			<string>惠南</string>
			<string>金桥</string>
			<string>金杨</string>
			<string>康桥</string>
			<string>联洋</string>
			<string>临港新城</string>
			<string>陆家嘴</string>
			<string>南码头</string>
			<string>泥城镇</string>
			<string>浦东世博</string>
			<string>三林</string>
			<string>书院镇</string>
			<string>塘桥</string>
			<string>唐镇</string>
			<string>外高桥</string>
			<string>万祥镇</string>
			<string>潍坊</string>
			<string>新场</string>
			<string>宣桥</string>
			<string>杨东</string>
			<string>洋泾</string>
			<string>源深</string>
			<string>御桥</string>
			<string>张江</string>
			<string>周浦</string>
			<string>祝桥</string>
		</array>
		<key>闵行区</key>
		<array>
			<string>不限</string>
			<string>春申</string>
			<string>古美罗阳</string>
			<string>航华</string>
			<string>华漕</string>
			<string>静安新城</string>
			<string>金虹桥</string>
			<string>金汇</string>
			<string>老闵行</string>
			<string>龙柏</string>
			<string>马桥</string>
			<string>梅陇</string>
			<string>浦江</string>
			<string>七宝</string>
			<string>吴泾</string>
			<string>莘庄</string>
			<string>颛桥</string>
		</array>
		<key>徐汇区</key>
		<array>
			<string>不限</string>
			<string>漕河泾</string>
			<string>长桥</string>
			<string>衡山路</string>
			<string>华东理工</string>
			<string>华泾</string>
			<string>建国西路</string>
			<string>康健</string>
			<string>龙华</string>
			<string>南站</string>
			<string>田林</string>
			<string>万体馆</string>
			<string>斜土路大木桥</string>
			<string>徐汇滨江</string>
			<string>徐家汇</string>
			<string>植物园</string>
		</array>
		<key>普陀区</key>
		<array>
			<string>不限</string>
			<string>曹杨</string>
			<string>长风</string>
			<string>长寿</string>
			<string>长征</string>
			<string>甘泉宜川</string>
			<string>光新</string>
			<string>桃浦</string>
			<string>万里</string>
			<string>武宁</string>
			<string>真光</string>
			<string>真如</string>
			<string>中远两湾城</string>
		</array>
		<key>宝山区</key>
		<array>
			<string>不限</string>
			<string>大场镇</string>
			<string>大华</string>
			<string>共富</string>
			<string>共康</string>
			<string>顾村</string>
			<string>罗店</string>
			<string>罗泾</string>
			<string>上大</string>
			<string>淞宝</string>
			<string>淞南高境</string>
			<string>通河</string>
			<string>杨行</string>
			<string>月浦</string>
			<string>张庙</string>
		</array>
		<key>长宁区</key>
		<array>
			<string>不限</string>
			<string>北新泾</string>
			<string>古北</string>
			<string>虹桥</string>
			<string>天山</string>
			<string>仙霞</string>
			<string>西郊</string>
			<string>新华路</string>
			<string>镇宁路</string>
			<string>中山公园</string>
		</array>
		<key>杨浦区</key>
		<array>
			<string>不限</string>
			<string>鞍山</string>
			<string>东外滩</string>
			<string>黄兴</string>
			<string>黄兴公园</string>
			<string>控江</string>
			<string>五角场</string>
			<string>新江湾城</string>
			<string>杨浦公园</string>
			<string>中原</string>
			<string>周家嘴路</string>
		</array>
		<key>松江区</key>
		<array>
			<string>不限</string>
			<string>车墩</string>
			<string>九亭</string>
			<string>佘山</string>
			<string>泗泾</string>
			<string>松江大学城</string>
			<string>松江老城</string>
			<string>松江新城</string>
			<string>莘闵</string>
			<string>新桥</string>
		</array>
		<key>虹口区</key>
		<array>
			<string>不限</string>
			<string>北外滩</string>
			<string>江湾镇</string>
			<string>凉城</string>
			<string>临平路</string>
			<string>鲁迅公园</string>
			<string>曲阳</string>
			<string>四川北路</string>
		</array>
		<key>嘉定区</key>
		<array>
			<string>不限</string>
			<string>安亭</string>
			<string>丰庄</string>
			<string>嘉定老城</string>
			<string>嘉定新城</string>
			<string>江桥</string>
			<string>菊园新区</string>
			<string>马陆</string>
			<string>南翔</string>
			<string>新成路</string>
			<string>徐行</string>
		</array>
		<key>黄浦区</key>
		<array>
			<string>不限</string>
			<string>打浦桥</string>
			<string>董家渡</string>
			<string>淮海中路</string>
			<string>黄埔滨江</string>
			<string>老西门</string>
			<string>南京东路</string>
			<string>蓬莱公园</string>
			<string>人民广场</string>
			<string>世博滨江</string>
			<string>五里桥</string>
			<string>新天地</string>
			<string>豫园</string>
		</array>
		<key>静安区</key>
		<array>
			<string>不限</string>
			<string>不夜城</string>
			<string>曹家渡</string>
			<string>大宁</string>
			<string>江宁路</string>
			<string>静安寺</string>
			<string>南京西路</string>
			<string>彭浦</string>
			<string>西藏北路</string>
			<string>永和</string>
		</array>
		<key>青浦区</key>
		<array>
			<string>不限</string>
			<string>白鹤</string>
			<string>华新镇</string>
			<string>金泽</string>
			<string>练塘镇</string>
			<string>香花桥</string>
			<string>夏阳</string>
			<string>徐泾</string>
			<string>盈浦</string>
			<string>赵巷</string>
			<string>重固</string>
			<string>朱家角</string>
		</array>
	</dict>
	<key>地铁</key>
	<dict>
		<key>KeyList</key>
		<array>
			<string>不限</string>
			<string>1号线</string>
			<string>2号线</string>
			<string>3号线</string>
			<string>4号线</string>
			<string>5号线</string>
			<string>6号线</string>
			<string>7号线</string>
			<string>8号线</string>
			<string>9号线</string>
			<string>10主线</string>
			<string>11主线</string>
			<string>12号线</string>
			<string>13号线</string>
			<string>16号线</string>
			<string>10支线</string>
			<string>11支线</string>
			<string>17号线</string>
		</array>
		<key>不限</key>
		<array/>
		<key>1号线</key>
		<array>
			<string>不限</string>
			<string>富锦路</string>
			<string>友谊西路</string>
			<string>宝安公路</string>
			<string>共富新村</string>
			<string>呼兰路</string>
			<string>通河新村</string>
			<string>共康路</string>
			<string>彭浦新村</string>
			<string>汶水路</string>
			<string>上海马戏城</string>
			<string>延长路</string>
			<string>中山北路</string>
			<string>上海火车站</string>
			<string>汉中路</string>
			<string>新闸路</string>
			<string>人民广场</string>
			<string>黄陂南路</string>
			<string>陕西南路</string>
			<string>常熟路</string>
			<string>衡山路</string>
			<string>徐家汇</string>
			<string>上海体育馆</string>
			<string>漕宝路</string>
			<string>上海南站</string>
			<string>锦江乐园</string>
			<string>莲花路</string>
			<string>外环路</string>
			<string>莘庄</string>
		</array>
		<key>2号线</key>
		<array>
			<string>不限</string>
			<string>徐泾东</string>
			<string>虹桥火车站</string>
			<string>虹桥2号航站楼</string>
			<string>淞虹路</string>
			<string>北新泾</string>
			<string>威宁路</string>
			<string>娄关山路</string>
			<string>中山公园</string>
			<string>江苏路</string>
			<string>静安寺</string>
			<string>南京西路</string>
			<string>人民广场</string>
			<string>南京东路</string>
			<string>陆家嘴</string>
			<string>东昌路</string>
			<string>世纪大道</string>
			<string>上海科技馆</string>
			<string>世纪公园</string>
			<string>龙阳路</string>
			<string>张江高科</string>
			<string>金科路</string>
			<string>广兰路</string>
			<string>唐镇</string>
			<string>创新中路</string>
			<string>华夏东路</string>
			<string>川沙</string>
			<string>凌空路</string>
			<string>远东大道</string>
			<string>海天三路</string>
			<string>浦东国际机场</string>
		</array>
		<key>3号线</key>
		<array>
			<string>不限</string>
			<string>江杨北路</string>
			<string>铁力路</string>
			<string>友谊路</string>
			<string>宝杨路</string>
			<string>水产路</string>
			<string>淞滨路</string>
			<string>张华浜</string>
			<string>长江南路</string>
			<string>殷高西路</string>
			<string>江湾镇</string>
			<string>大柏树</string>
			<string>赤峰路</string>
			<string>虹口足球场</string>
			<string>东宝兴路</string>
			<string>宝山路</string>
			<string>上海火车站</string>
			<string>中潭路</string>
			<string>镇坪路</string>
			<string>曹杨路</string>
			<string>金沙江路</string>
			<string>中山公园</string>
			<string>延安西路</string>
			<string>虹桥路</string>
			<string>宜山路</string>
			<string>漕溪路</string>
			<string>龙漕路</string>
			<string>石龙路</string>
			<string>上海南站</string>
		</array>
		<key>4号线</key>
		<array>
			<string>不限</string>
			<string>上海体育馆</string>
			<string>上海体育场</string>
			<string>东安路</string>
			<string>大木桥路</string>
			<string>鲁班路</string>
			<string>西藏南路</string>
			<string>南浦大桥</string>
			<string>塘桥</string>
			<string>蓝村路</string>
			<string>浦电路(4号线)</string>
			<string>世纪大道</string>
			<string>浦东大道</string>
			<string>杨树浦路</string>
			<string>大连路</string>
			<string>临平路</string>
			<string>海伦路</string>
			<string>宝山路</string>
			<string>上海火车站</string>
			<string>中潭路</string>
			<string>镇坪路</string>
			<string>曹杨路</string>
			<string>金沙江路</string>
			<string>中山公园</string>
			<string>延安西路</string>
			<string>虹桥路</string>
			<string>宜山路</string>
		</array>
		<key>5号线</key>
		<array>
			<string>不限</string>
			<string>莘庄</string>
			<string>春申路</string>
			<string>银都路</string>
			<string>颛桥</string>
			<string>北桥</string>
			<string>剑川路</string>
			<string>东川路</string>
			<string>金平路</string>
			<string>华宁路</string>
			<string>文井路</string>
			<string>闵行开发区</string>
		</array>
		<key>6号线</key>
		<array>
			<string>不限</string>
			<string>港城路</string>
			<string>外高桥保税区北</string>
			<string>航津路</string>
			<string>外高桥保税区南</string>
			<string>洲海路</string>
			<string>五洲大道</string>
			<string>东靖路</string>
			<string>巨峰路</string>
			<string>五莲路</string>
			<string>博兴路</string>
			<string>金桥路</string>
			<string>云山路</string>
			<string>德平路</string>
			<string>北洋泾路</string>
			<string>民生路</string>
			<string>源深体育中心</string>
			<string>世纪大道</string>
			<string>浦电路(6号线)</string>
			<string>蓝村路</string>
			<string>上海儿童医学中心</string>
			<string>临沂新村</string>
			<string>高科西路</string>
			<string>东明路</string>
			<string>高青路</string>
			<string>华夏西路</string>
			<string>上南路</string>
			<string>灵岩南路</string>
			<string>东方体育中心</string>
		</array>
		<key>7号线</key>
		<array>
			<string>不限</string>
			<string>美兰湖</string>
			<string>罗南新村</string>
			<string>潘广路</string>
			<string>刘行</string>
			<string>顾村公园</string>
			<string>祁华路</string>
			<string>上海大学</string>
			<string>南陈路</string>
			<string>上大路</string>
			<string>场中路</string>
			<string>大场镇</string>
			<string>行知路</string>
			<string>大华三路</string>
			<string>新村路</string>
			<string>岚皋路</string>
			<string>镇坪路</string>
			<string>长寿路</string>
			<string>昌平路</string>
			<string>静安寺</string>
			<string>常熟路</string>
			<string>肇嘉浜路</string>
			<string>东安路</string>
			<string>龙华中路</string>
			<string>后滩</string>
			<string>长清路</string>
			<string>耀华路</string>
			<string>云台路</string>
			<string>高科西路</string>
			<string>杨高南路</string>
			<string>锦绣路</string>
			<string>芳华路</string>
			<string>龙阳路</string>
			<string>花木路</string>
		</array>
		<key>8号线</key>
		<array>
			<string>不限</string>
			<string>市光路</string>
			<string>嫩江路</string>
			<string>翔殷路</string>
			<string>黄兴公园</string>
			<string>延吉中路</string>
			<string>黄兴路</string>
			<string>江浦路</string>
			<string>鞍山新村</string>
			<string>四平路</string>
			<string>曲阳路</string>
			<string>虹口足球场</string>
			<string>西藏北路</string>
			<string>中兴路</string>
			<string>曲阜路</string>
			<string>人民广场</string>
			<string>大世界</string>
			<string>老西门</string>
			<string>陆家浜路</string>
			<string>西藏南路</string>
			<string>中华艺术宫</string>
			<string>耀华路</string>
			<string>成山路</string>
			<string>杨思</string>
			<string>东方体育中心</string>
			<string>凌兆新村</string>
			<string>芦恒路</string>
			<string>浦江镇</string>
			<string>江月路</string>
			<string>联航路</string>
			<string>沈杜公路</string>
		</array>
		<key>9号线</key>
		<array>
			<string>不限</string>
			<string>松江南路</string>
			<string>醉白池</string>
			<string>松江体育中心</string>
			<string>松江新城</string>
			<string>松江大学城</string>
			<string>洞泾</string>
			<string>佘山</string>
			<string>泗泾</string>
			<string>九亭</string>
			<string>中春路</string>
			<string>七宝</string>
			<string>星中路</string>
			<string>合川路</string>
			<string>漕河泾开发区</string>
			<string>桂林路</string>
			<string>宜山路</string>
			<string>徐家汇</string>
			<string>肇嘉浜路</string>
			<string>嘉善路</string>
			<string>打浦桥</string>
			<string>马当路</string>
			<string>陆家浜路</string>
			<string>小南门</string>
			<string>商城路</string>
			<string>世纪大道</string>
			<string>杨高中路</string>
			<string>芳甸路</string>
			<string>蓝天路</string>
			<string>台儿庄路</string>
			<string>金桥</string>
			<string>金吉路</string>
			<string>金海路</string>
			<string>顾唐路</string>
			<string>民雷路</string>
			<string>曹路</string>
		</array>
		<key>10主线</key>
		<array>
			<string>不限</string>
			<string>虹桥火车站</string>
			<string>虹桥2号航站楼</string>
			<string>虹桥1号航站楼</string>
			<string>上海动物园</string>
			<string>龙溪路</string>
			<string>水城路</string>
			<string>伊犁路</string>
			<string>宋园路</string>
			<string>虹桥路</string>
			<string>交通大学</string>
			<string>上海图书馆</string>
			<string>陕西南路</string>
			<string>新天地</string>
			<string>老西门</string>
			<string>豫园</string>
			<string>南京东路</string>
			<string>天潼路</string>
			<string>四川北路</string>
			<string>海伦路</string>
			<string>邮电新村</string>
			<string>四平路</string>
			<string>同济大学</string>
			<string>国权路</string>
			<string>五角场</string>
			<string>江湾体育场</string>
			<string>三门路</string>
			<string>殷高西路</string>
			<string>新江湾城</string>
		</array>
		<key>11主线</key>
		<array>
			<string>不限</string>
			<string>嘉定北</string>
			<string>嘉定西</string>
			<string>白银路</string>
			<string>嘉定新城</string>
			<string>马陆</string>
			<string>南翔</string>
			<string>桃浦新村</string>
			<string>武威路</string>
			<string>祁连山路</string>
			<string>李子园</string>
			<string>上海西站</string>
			<string>真如</string>
			<string>枫桥路</string>
			<string>曹杨路</string>
			<string>隆德路</string>
			<string>江苏路</string>
			<string>交通大学</string>
			<string>徐家汇</string>
			<string>上海游泳馆</string>
			<string>龙华</string>
			<string>云锦路</string>
			<string>龙耀路</string>
			<string>东方体育中心</string>
			<string>三林</string>
			<string>三林东</string>
			<string>浦三路</string>
			<string>御桥</string>
			<string>罗山路</string>
			<string>秀沿路</string>
			<string>康新公路</string>
			<string>迪士尼</string>
		</array>
		<key>12号线</key>
		<array>
			<string>不限</string>
			<string>七莘路</string>
			<string>虹莘路</string>
			<string>顾戴路</string>
			<string>东兰路</string>
			<string>虹梅路</string>
			<string>虹漕路</string>
			<string>桂林公园</string>
			<string>漕宝路</string>
			<string>龙漕路</string>
			<string>龙华</string>
			<string>龙华中路</string>
			<string>大木桥路</string>
			<string>嘉善路</string>
			<string>陕西南路</string>
			<string>南京西路</string>
			<string>汉中路</string>
			<string>曲阜路</string>
			<string>天潼路</string>
			<string>国际客运中心</string>
			<string>提篮桥</string>
			<string>大连路</string>
			<string>江浦公园</string>
			<string>宁国路</string>
			<string>隆昌路</string>
			<string>爱国路</string>
			<string>复兴岛</string>
			<string>东陆路</string>
			<string>巨峰路</string>
			<string>杨高北路</string>
			<string>金京路</string>
			<string>申江路</string>
			<string>金海路</string>
		</array>
		<key>13号线</key>
		<array>
			<string>不限</string>
			<string>金运路</string>
			<string>金沙江西路</string>
			<string>丰庄</string>
			<string>祁连山南路</string>
			<string>真北路</string>
			<string>大渡河路</string>
			<string>金沙江路</string>
			<string>隆德路</string>
			<string>武宁路</string>
			<string>长寿路</string>
			<string>江宁路</string>
			<string>汉中路</string>
			<string>自然博物馆</string>
			<string>南京西路</string>
			<string>淮海中路</string>
			<string>新天地</string>
			<string>马当路</string>
			<string>世博会博物馆</string>
			<string>世博大道</string>
		</array>
		<key>16号线</key>
		<array>
			<string>不限</string>
			<string>龙阳路</string>
			<string>华夏中路</string>
			<string>罗山路</string>
			<string>周浦东</string>
			<string>鹤沙航城</string>
			<string>航头东</string>
			<string>新场</string>
			<string>野生动物园</string>
			<string>惠南</string>
			<string>惠南东</string>
			<string>书院</string>
			<string>临港大道</string>
			<string>滴水湖</string>
		</array>
		<key>10支线</key>
		<array>
			<string>不限</string>
			<string>龙柏新村</string>
			<string>紫藤路</string>
			<string>航中路</string>
		</array>
		<key>11支线</key>
		<array>
			<string>不限</string>
			<string>上海赛车场</string>
			<string>昌吉东路</string>
			<string>上海汽车城</string>
			<string>安亭</string>
			<string>兆丰路</string>
			<string>光明路</string>
			<string>花桥</string>
		</array>
		<key>17号线</key>
		<array>
			<string>不限</string>
			<string>虹桥火车站</string>
			<string>诸光路</string>
			<string>蟠龙路</string>
			<string>徐盈路</string>
			<string>徐泾北城</string>
			<string>嘉松中路</string>
			<string>赵巷</string>
			<string>汇金路</string>
			<string>青浦新城</string>
		</array>
	</dict>
</dict>
</plist>
